.tooltip{
        transform: translateX(-50%);
        background-color: #E0E7FF;
        color: #1E40AF;
        padding: 8px;
        border-radius: 4px;
        font-size: 12px;
        z-index: 1000;
    }

    .tooltip::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 20%;
        border: 6px solid;
        border-color: #E0E7FF transparent transparent transparent;
    }